@if (viewLogsNormativos.Any())
{
	<table class="table table-success table-hover shadow">
		<thead>
			<tr>
				<th scope="col">Matrícula</th>
				<th scope="col">Colaborador</th>
				<th scope="col">Gerência</th>
				<th scope="col">Coordenação</th>
				<th scope="col">Login</th>
				<th scope="col">Normativo</th>
				<th scope="col">Data de Aceite</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var viewLogNormativo in viewLogsNormativos)
			{
				<tr >
					<td>
						@viewLogNormativo.Matricula
					</td>
					<td class="align-middle">
						@viewLogNormativo.NomeFuncionario
					</td>
					<td class="align-middle">
						@viewLogNormativo.NomeGerencia
					</td>
					<td class="align-middle">
						@viewLogNormativo.NomeCoordenacao
					</td>
					<td class="align-middle">
						@viewLogNormativo.LoginName
					</td>
					<td class="align-middle">
						<a href="http://intranet.niteroi.unimed/sites/Unimed/Normativos/SitePages/Normativo.aspx?NewsId=@viewLogNormativo.IdNormativo" target="_blank">@viewLogNormativo.NomeNormativo</a>
					</td>
					<td class="align-middle">
						@viewLogNormativo.DataLeitura
					</td>

				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="text-center">
		<button class="btn btn-success" type="button" disabled>
			<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
			Carregando...
		</button>
	</div>
}
